* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1rem;
}

header {
  padding: 32px 0;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.intro-chunk {
  padding-left: 16px;
  max-width: 350px;
}

.title {
  margin: 32px 0;
  font-size: 1.5rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  padding: 64px 0;
  background-color: hsl(0deg, 0%, 60%);
}

.card {
  padding: 8px 16px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 24px;
  margin: 0 0 0 -24px;
  line-height: 1;
  font-size: 1.25rem;
  width: fit-content;
}

.max-width-wrapper {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

/*
Primary (green):
  hsl(160deg, 100%, 30%)

Secondary (gold):
  hsl(45deg, 100%, 50%) (lighter)
  hsl(45deg, 100%, 40%) (darker)
Grays:
  hsl(0deg, 0%, 0%) (black)
  hsl(0deg, 0%, 10%) (very dark)
  hsl(0deg, 0%, 30%) (dark)
  hsl(0deg, 0%, 40%) (medium)
  hsl(0deg, 0%, 60%) (light)
  hsl(0deg, 0%, 100%) (white)

Font
  1rem
  1.25rem
  1.5rem
  2rem
*/